@import url('https://font.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    
body {
    margin-top: 60px;
    background-image: url("../img/ba.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}


/*login*/
.cone{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-box{
    position: relative;
    width: 400px;
    height: 800px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:center;
    align-items: center;
}

.form-box h2{
color: #fff;
text-align: center;
font-size: 1.5rem;
}
.form-box .input-bx{
    position: relative;
    margin: 31px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.form-box .input-bx input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: #070707;
    font-size: 1.6rem;
}
input::placeholder{
    color: #8b8686;
}

textarea{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: #1e1e1e;
    padding: 0 20px 0 5px;
    color: #070707;
    font-size: 1.6rem;
    resize: none;
}

.btn{
    color: #1e1e1e;
    background: beige;
    width: 100%;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    box-shadow: 3px 0 10px rgb(0, 0, 0, .5 );
}
.group{
    display: flex;
    justify-content: space-between;
}
.group span a{
    color: #fff;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-size: 500;
}
.group a:focus{
    text-decoration: underline;
}
.input-bx i{
    position: absolute;
    color: #fff;
    top: 13px;
    right: 0;
}
#result{
    color: red;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.site-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}